#hero {
    padding-top: 23px;
}

#navbar {
    width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
}
